@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {  
    --clr-primary: #959BA4;
    --clr-secondary:  #833AE0;
}

    /* HEADER STYLES STARTS*/

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #E5E5E5;
    vertical-align: middle;
    color: var(--clr-primary);
}
header::before {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: var(--clr-secondary);
    position: absolute;
    top: 0;
}

.logo {
    margin-left: 100px;
    max-width: 90px;
    max-height: 25px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 4px 20px;          /*replacement for 4px here? */
}
.nav_links li:first-child {
    color: #000;
}
.nav_links li:hover {
    cursor: pointer;
    position: relative;
    bottom: 4px;
    color: #000;
}
.btn-come-in {
    cursor: pointer;
    margin-right: 100px;
    min-width: 60px;
    min-height: 30px;
    color: #000;
    border: 0;
    background-color: #fff;
}
/* HEADER STYLES ENDS */

/* MAIN SECTION STYLES STARTS */
h1 {
    text-align: center;
    margin-top: 70px;
}

.main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    font-size: 12px;
    margin-top: 30px;
}

.sections {
    min-width: 270px;
    min-height: 190px;
    /* border: 2px solid black; */
}

.list1 {
    margin-right: 120px;
}

.main-sec p {
    display: inline;
    padding: 0 5px;
    color: var(--clr-primary);
}
.currencies {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--clr-primary);
    list-style: none;
}

#rub, #usd, #eur, #gbp {
    padding: 0 25px;
    border-right: 1px solid var(--clr-primary);
    align-items: center;
    color: var(--clr-primary);
}
.input {
    display: inline;
    font-size: 36px;
    font-weight: 800;
    max-width: 180px;
    min-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
}
.input-container {
    margin: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-primary);
}
/* Removing inpt type number icon */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* MAIN SECTION STYLES ENDS */

